<ion-header>
  <ion-toolbar>
    <ion-title>tabOngs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!--

    <div *ngFor="let usuario of usuarios" >
        <ion-list>
          <ion-item *ngIf="usuario.apelido == 'false'">
            <ion-label>Nome: {{ usuario.nome}} Tipo: Ong's</ion-label>
          </ion-item>     
        </ion-list> 
        </div>
  -->
    <div *ngFor="let usuario of usuarios">
      <ion-list>
        <ion-item button [routerLink]="['/pages/sobre', usuario.id]" *ngIf="usuario.role == 2">
          <ion-avatar  slot="start">
            <img src="assets/icon/Cila.jpg">
          </ion-avatar>
          <ion-label>{{ usuario.nome }}</ion-label>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-item>
      </ion-list>
    </div>

</ion-content>
