<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <div class="user-photo" padding-top>
      <ion-avatar>
        <img src="assets/icon/Cila.jpg">
       
      </ion-avatar>
    </div>

    <div *ngFor="let perfil of perfil" >
  
    <ion-list >
        <ion-item>             
            <ion-label >
              <p>Nome</p>
             <h2>  {{ userNome }} </h2>  
            </ion-label>

            <ion-label> 
                <p>Apelido/Nome Fantasia</p>
                <h2> {{ perfil.apelido }} </h2> 
              </ion-label>
        </ion-item>

        <ion-item >
            <ion-label >  
              <p>Telefone</p>
              <h2> {{ perfil.telefone }} </h2>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
              <p>Email</p>
              <h2>{{  userEmail }} </h2> 
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label  text-wrap>
              <p>Sobre</p>
              <h2> {{ perfil.sobre }}</h2> 
            </ion-label>
        </ion-item>
             
    </ion-list>

  </div>

<!--
            <ion-select placeholder="Tipo de usuario" id="tipo" [(ngModel)]="usuario.verifica">
              <ion-select-option value="1" >Ong</ion-select-option>
              <ion-select-option value="2">Usuario Comum</ion-select-option>
            </ion-select>
-->
 <ion-button style="margin-top: 20px; float:right" 
            color="primary" 
            
            (click)="add()"> 
            Alterar
</ion-button>

  </ion-content>
