<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <div class="user-photo" padding-top>
      <ion-avatar>
        <img src="assets/icon/Cila.jpg">
       
      </ion-avatar>
    </div>
  
    <ion-row>
        <ion-col col-3>
          <ion-item >
            <ion-label> {{ userNome }}  </ion-label>
          </ion-item>
        </ion-col>
 
      </ion-row>

      <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-input type="tel" placeholder="Telefone" mask="(99) 9 9999-9999"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

          <ion-row>
              <ion-col col-3>
                <ion-item>
                  <ion-label >{{  userEmail }} </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
<!--
            <ion-select placeholder="Tipo de usuario" id="tipo" [(ngModel)]="usuario.verifica">
              <ion-select-option value="1" >Ong</ion-select-option>
              <ion-select-option value="2">Usuario Comum</ion-select-option>
            </ion-select>
-->
 <ion-button style="margin-top: 20px" 
            color="primary" 
            
            (click)="add()"> 
            Alterar
</ion-button>

  </ion-content>
