.textarea{
    background-color: white;
    margin-top: 10px;
    padding-left: 5px;
    border-radius: 10px;
    border: solid;
    border-color: dodgerblue;
}

.fab{
    position: fixed;
    bottom: 25px;
    right: 15px;
    font-size: 30px;
}