.active-item{
    border-left: 8px solid var(--ion-color-primary);
}

.avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 100%;
 }

 .header{
	height: 140px !important;
	background-color: #75ecf5;	
}
