<ion-split-pane>

  <ion-menu contentId="content">

    <ion-header>
      <ion-toolbar color='stable'>

          <ion-avatar class="avatar">
              <img src="assets/icon/Cila.jpg">
              <ion-text style="text-align: center">
                  <h6> Nome </h6>
                </ion-text>
          </ion-avatar>

      </ion-toolbar>
    </ion-header>

    <ion-content>

      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url">
              <ion-icon [name]="p.icon"> </ion-icon> &nbsp; {{ p.title }}
          </ion-item>
        </ion-menu-toggle>
   
        <ion-menu-toggle auto-hit="false">
          
          <ion-item (click)="logout()">
             <ion-icon name="log-out"></ion-icon> 
             <ion-text color="danger">Logout</ion-text>   
          </ion-item>
      
        </ion-menu-toggle>

      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>
