<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
        
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Comunidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
    <ion-tab-bar slot="bottom" > 
      <ion-tab-button tab="usuarios" routerLink="/menu/comunidade/tabUsuarios">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Usuarios</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="ongs" routerLink="/menu/comunidade/tabOngs">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Ong's</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>