<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
        
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Comunidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
    <ion-tab-bar slot="bottom" href="/menu/perfil(tabUsuarios:tabUsuarios)">
      <ion-tab-button tab="usuarios">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Usuarios</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="ongs" href="/menu/perfil(tabOngs:tabOngs)">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Ongs</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>