<ion-header>
  <ion-toolbar color='dark'>

    <ion-title text-center>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item text-center>
    <ion-label>
      <ion-icon class="logo" color="light"
                name="attach">
      </ion-icon> 
    </ion-label>
  </ion-item>
  <h1>Meu aplicativo</h1>
  <h6>Acesso ao app</h6>

  <ion-grid>
    <ion-row class="inputStyle">
        <ion-icon name="mail"></ion-icon>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-row>

    <ion-row class="inputStyle">
        <ion-icon name="key"></ion-icon>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-row>

  </ion-grid>

  <ion-button style="margin-top: 20px" 
              fill="outline" 
              shape="round"  
              color="light" 
              expand="block" 
              (click)="onSubmitLogin()">
              Entrar
  </ion-button>

  <ion-button fill="outline" 
              shape="round"  
              color="light" 
              expand="block" 
              routerLink="/pages/registrar">
              Registrar
  </ion-button>
</ion-content>
