
<ion-content padding>
 
    <ion-label>
      <ion-avatar class="avatar">
          <img src="assets/icon/logo.png">     
      </ion-avatar>
    </ion-label>
 
  <h1>Nome do aplicativo</h1>

  <ion-grid>
    <ion-row class="inputStyle">
        <ion-icon name="mail"></ion-icon>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-row>

    <ion-row class="inputStyle">
        <ion-icon name="key"></ion-icon>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-row>

  </ion-grid>

  <ion-button style="margin-top: 20px" 
              fill="outline" 
              shape="round"  
              color="light" 
              expand="block" 
              (click)="onSubmitLogin()">
              Entrar
  </ion-button>

  <ion-button fill="outline" 
              shape="round"  
              color="light" 
              expand="block" 
              routerLink="/pages/registrar">
              Registrar
  </ion-button>
</ion-content>
