
<ion-content padding>
 
    <ion-label style="display: block; text-align: center; color: white; margin-top: 70px; font-size: 50px">
      Logo
    </ion-label>
 
  <ion-grid style="margin-top: 100px">
    <ion-row class="inputStyle">
        <ion-icon name="mail"></ion-icon>
        <ion-input placeholder="Email" type="email" [(ngModel)]="email"></ion-input>
    </ion-row>

    <ion-row class="inputStyle">
        <ion-icon name="key"></ion-icon>
        <ion-input placeholder="************" type="password" [(ngModel)]="password"></ion-input>
    </ion-row>

  </ion-grid>

  <ion-button style="margin-top: 20px" 
              fill="outline" 
              shape="round"  
              color="light" 
              expand="block" 
              (click)="onSubmitLogin()">
              Entrar
  </ion-button>

  <ion-button fill="outline" 
              shape="round"  
              color="light" 
              expand="block" 
              routerLink="/pages/registrar">
              Registrar
  </ion-button>
</ion-content>
