<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div class="ion-padding" *ngFor="let post of usuarioP" >

        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>Nome Usuario</ion-card-title>
          </ion-card-header>

          <ion-card-content>
              {{ post.mensagem }}
          </ion-card-content>

          <img src="assets/imagens/mesa.jpg">

          <ion-card-content>
            Status: <ion-label color="danger"> Pendente</ion-label>
          </ion-card-content>
          
        </ion-card>
      </div> 
      
      <!--
          <div class="ion-padding">
              <ion-card class="card">
                <ion-card-header>
                  <ion-card-title> Nome do usuario</ion-card-title>
                  <ion-card-subtitle> Subtitulo </ion-card-subtitle>
                </ion-card-header>
        
                <ion-card-content>
                    Pura sorte ou obra divina, o acaso não deixa de ser
                    incrível por ser surpreendente, aleatório, soco no estômago ou bilhete premiado.
                </ion-card-content>

                <img src="assets/imagens/mesa.jpg">
                <ion-card-content>
                    Status:<ion-label color="danger"> Pendente</ion-label>
                  </ion-card-content>
              </ion-card>
            </div>
        -->
    <ion-fab-button class="todo-fab" routerLink="/pages/post">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>