<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h4 style="display:block;text-align:center">Alguma informação útil para o usuário, uma frase explicativa ou algo do gênero</h4>

    <div style="margin-top: 10px" *ngFor="let post of usuarioP">

        <ion-card class="card" *ngIf="post.status == status">
          <ion-card-header >
            <span class="nomeUser">{{ post.nome }}</span>
          </ion-card-header>

          <ion-card-content>
              {{ post.mensagem }}
          </ion-card-content>

          <img src="assets/imagens/mesa.jpg">

          <ion-card-content>
            Status: <ion-label color="danger"> Pendente</ion-label>
          </ion-card-content>
          
        </ion-card>
      </div> 

  <div *ngFor="let usuario of perfil" >

    <div *ngIf="usuario.role == 2">
      
      <ion-fab-button  class="todo-fab" routerLink="/pages/post" >
          <ion-icon name="add" ></ion-icon>
      </ion-fab-button>

    </div>
  </div>

  </ion-content>