.todo-fab {
    position: fixed;
    bottom: 25px;
    right: 15px;
    font-size: 30px;
  }

  .card{
    display: inline-block;
    margin-top: -13px;

  }

  .more {
    font-size: 25px;
    float: right;
  }

  .nomeUser {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
    color: black;
    line-height: 15px;
  }