<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div class="ion-padding">
      <ion-card class="card">
        <ion-card-header>
          <ion-card-title> Teste titulo</ion-card-title>
          <ion-card-subtitle> Subtitulo </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Pura sorte ou obra divina, o acaso não deixa de ser
            incrível por ser surpreendente, aleatório, soco no estômago ou bilhete premiado.
        </ion-card-content>

        <img src="assets/imagens/arroz.jpg">
      </ion-card>
    </div>

    <div class="ion-padding">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title> Nome Usuario</ion-card-title>
            <ion-card-subtitle> Subtitulo </ion-card-subtitle>
          </ion-card-header>
  
          <ion-card-content>
              Pura sorte ou obra divina, o acaso não deixa de ser
              incrível por ser surpreendente, aleatório, soco no estômago ou bilhete premiado.
          </ion-card-content>

          <img src="assets/imagens/leite.png">
        </ion-card>
      </div>

      <div class="ion-padding">
          <ion-card class="card">
            <ion-card-header>
              <ion-card-title> Nome do usuario</ion-card-title>
              <ion-card-subtitle> Subtitulo </ion-card-subtitle>
            </ion-card-header>
    
            <ion-card-content>
                Pura sorte ou obra divina, o acaso não deixa de ser
                incrível por ser surpreendente, aleatório, soco no estômago ou bilhete premiado.
            </ion-card-content>

            <img src="assets/imagens/feijao.png">
          </ion-card>
        </div>

        <div class="ion-padding">
            <ion-card class="card">
              <ion-card-header>
                <ion-card-title> Nome do usuario</ion-card-title>
                <ion-card-subtitle> Subtitulo </ion-card-subtitle>
              </ion-card-header>
      
              <ion-card-content>
                  Pura sorte ou obra divina, o acaso não deixa de ser
                  incrível por ser surpreendente, aleatório, soco no estômago ou bilhete premiado.
              </ion-card-content>

              <img src="assets/imagens/fralda.jpg">
            </ion-card>
          </div>

          <div class="ion-padding">
              <ion-card class="card">
                <ion-card-header>
                  <ion-card-title> Nome do usuario</ion-card-title>
                  <ion-card-subtitle> Subtitulo </ion-card-subtitle>
                </ion-card-header>
        
                <ion-card-content>
                    Pura sorte ou obra divina, o acaso não deixa de ser
                    incrível por ser surpreendente, aleatório, soco no estômago ou bilhete premiado.
                </ion-card-content>

                <img src="assets/imagens/mesa.jpg">
              </ion-card>
            </div>
      
    
  

    <ion-fab-button class="todo-fab">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>

</ion-content>
