<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button>
          
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Histórico</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>

      <div class="ion-padding" *ngFor="let post of usuarioP">

          <ion-card class="card" *ngIf="post.autor == user">
  
            <ion-card-header>
              <span class="nomeUser">{{ post.nome }}</span>
              <button style="float: right; background-color: transparent">
                <ion-icon class="more" name="ios-more"></ion-icon>
              </button>
              
            </ion-card-header>
  
            <ion-card-content>
                {{ post.mensagem }}
            </ion-card-content>
  
            <img src="assets/imagens/mesa.jpg">
  
            <ion-card-content>
              Status: <ion-label color="success"> Concluído</ion-label>
            </ion-card-content>
            
          </ion-card>
        </div> 
  </ion-content>
  
  