<ion-header>
  <ion-toolbar>
    <ion-title>tabUsuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div *ngFor="let usuario of usuarios">
        <ion-list>
          <ion-item button [routerLink]="['/pages/sobre', usuario.id]" *ngIf="usuario.role == 'true'">
            <ion-avatar  slot="start">
              <img src="assets/icon/Cila.jpg">
            </ion-avatar>
            <ion-label>{{ usuario.displayname }}</ion-label>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </ion-item>
        </ion-list>
      </div>

</ion-content>
